body {
    background: #000 url(http://oi68.tinypic.com/2ms4h04.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.page {
    margin: 2em 0;
}

.container {
    background-color: #33221f;
}

a {
    color: #fce1b1;
}

a:hover,
a:active,
a:focus {
    color: #c3853b;
}
.site-header .container {
    padding: 0;
    background-color: #271916;
}

.site-header h1 {
    font-family: 'Gabriela', sans-serif;
    color: #805528;
    margin: 10px 15px 5px;
    text-shadow: 1px 1px 1px #1c110f;
}

.site-footer {
    padding: 1em 0;
    text-align: right;
}

.slogan {
    font-size: 1.2em;
    font-style: italic;
    color: #ededed;
}

.page-header {
    margin: 0 0 20px;
}

.main-content {
    padding-bottom: 1.5em;
}

.site-footer .container {
    background-color: transparent;
}

.pagination > .active > a {
    background-color: #954819;
    border-color: #5e3d20;
}

.pagination > .active > a:hover {
    background-color: #6d3512;
    border-color: #42200b;
}

.pagination > li > a {
    background-color: #e6dace;
    color: #000;
    border-color: #9f8b5e;
}

.pagination > li > a:hover {
    background-color: #ded2b8;
    border-color: #cfad64;
    color: #900;
}

.btn-danger {
    background-color: #6d3512;
    border-color: #42200b;
    outline: none !important;
}

.btn-danger:hover {
    background-color: #954819;
    border-color: #5e3d20;
    outline: none !important;
}

.btn-danger:focus:active,
.btn-danger:active {
    background-color: #de793b;
    border-color: #debea1;
    outline: none !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 99, 10, 0.6);
}



#hidden {
    display: none;
}

figure figcaption {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.6);
    padding: 0 5px;
}
figure {
    position: relative;
    background-color: #000;
}

.thread .panel {
    background-color: transparent;
    border: 1px solid #000;
}

.thread .panel-body {
    color: #000;
    background-color: #e2ddd3;
}

.thread .panel-footer {
    padding: 3px 15px;
    background-color: #3d3223;
    color: #a5a198;
}

.thread .panel-heading {
    padding: 5px 15px;
    font-size: 1.1em;
    background-color: #27201b;
    color: #bba67b;
}

.table .title {
    width: 80%;
}

.table .count,
.table .date {
    white-space:nowrap;
}
.table .count {
    text-align:center;
}

.form.container {
    background-color: #351717;
    background-color: #271916;
    padding-bottom: 2em;
    padding-top: 2em;
}

.form.container h3 {
    margin-top: 0;
}

.form-control {
    color: #e8e8e8;
    background-color: #1b140d;
}

.form-control:focus {
    border-color: #a74545;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(224, 99, 10, 0.6);
}
.breadcrumb {
    margin: 8px 0;
    padding: 0;
    background-color: transparent;
}

@media screen and (max-width:991px) {
    .site-header h1 {
        font-size:2em;
    }
}

@media screen and (max-width:619px) {
    body {
        background-image: none;
    }
    .page {
        margin: 0;
    }
    .site-header h1 {
        font-size:1.5em;
    }
    .site-header figure {
        display: none;
    }
}