body {
    background: #000 url(http://oi68.tinypic.com/2ms4h04.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.page {
    margin: 2em 0;
}

.container {
    background-color: #4a2c2c;
}

a {
    color: #d00
}

a:hover,
a:active {
    color: #f00
}

.site-footer {
    padding: 1em 0;
    text-align: right;
}
.slogan {
    font-size: 1.2em;
    font-style: italic;
    color: #ededed;
}

.main-content {
    padding-bottom: 1.5em;
}

.site-footer .container {
    background-color: transparent;
}

.panel-body {
    color: #000;
}

.pagination > .active > a {
    background-color: #900;
    border-color: #900;
}

.pagination > .active > a:hover {
    background-color: #a00;
    border-color: #900;
}

.pagination > li > a {
    background-color: #fff;
    color: #000;
}

.pagination > li > a:hover {
    background-color: #f2dede;
    border-color: #f2dede;
    color: #900;
}

.btn-danger {
    background-color: #900;
    border-color: #a00;
    margin-top: 30px;
    outline: none !important;
}

#hidden {
    display: none;
}

figure figcaption {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.6);
    padding: 0 5px;
}
figure {
    position: relative;
}

.thread .panel-footer {
    padding: 3px 15px;
    background-color: #652d2d;
}
.thread .panel-heading {
    padding: 5px 15px;
    font-size: 1.1em;
    background-color: #f3f3f3;
    color: #941717;
}