body {
    background: #000 url(http://oi68.tinypic.com/2ms4h04.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.page {
    margin: 2em 0;
}

.container {
    background-color: #4a2c2c;
}

a {
    color: #d00
}

a:hover,
a:active {
    color: #f00
}
.site-header .container {
    padding: 0;
    background-color: #8c1313;
}

.site-header h1 {
    font-family: 'Gabriela', sans-serif;
    color: #000000;
    margin: 10px 15px 5px;
    text-shadow: 1px 1px 1px #ff3535
}

.site-footer {
    padding: 1em 0;
    text-align: right;
}

.slogan {
    font-size: 1.2em;
    font-style: italic;
    color: #ededed;
}

.page-header {
    margin: 0 0 20px;
}

.main-content {
    padding-bottom: 1.5em;
}

.site-footer .container {
    background-color: transparent;
}

.panel-body {
    color: #000;
}

.pagination > .active > a {
    background-color: #900;
    border-color: #900;
}

.pagination > .active > a:hover {
    background-color: #a00;
    border-color: #900;
}

.pagination > li > a {
    background-color: #fff;
    color: #000;
}

.pagination > li > a:hover {
    background-color: #f2dede;
    border-color: #f2dede;
    color: #900;
}

.btn-danger {
    background-color: #900;
    border-color: #a00;
    outline: none !important;
}

#hidden {
    display: none;
}

figure figcaption {
    font-size: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background-color: rgba(0,0,0,0.6);
    padding: 0 5px;
}
figure {
    position: relative;
    background-color: #000;
}

.thread .panel-footer {
    padding: 3px 15px;
    background-color: #652d2d;
}
.thread .panel-heading {
    padding: 5px 15px;
    font-size: 1.1em;
    background-color: #f3f3f3;
    color: #941717;
}

.table .title {
    width: 80%;
}

.table .count,
.table .date {
    white-space:nowrap;
}
.table .count {
    text-align:center;
}

.form.container {
    background-color: #351717;
    padding-bottom: 2em;
    padding-top: 2em;
}

.form.container h3 {
    margin-top: 0;
}