<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Layout Generic Title</title>
    </head>
    <body>
        <header th:fragment="site-header" class="site-header">
            <div class="container">
                <h1 style="font-family: 'Gabriela', sans-serif; color:#FD0505">Sisterhood of Behemothin keskustelupalsta</h1>
                <p class="slogan">Kaikki mitä olet aina halunnut tietää kissan sisäelimistä</p>
                <figure>
                    <img src="http://oi65.tinypic.com/nprui9.jpg" class="img-responsive site-banner" alt="Witches' Sabbath (Goya, 1798)"/>
                    <figcaption>Witches' Sabbath (The Great He-Goat) (Francisko Goya, 1821-1823), Wikimedia Commons</figcaption>
                </figure>
            </div>
        </header>

        <footer th:fragment="footer" class="site-footer">
            <div class="container">
                &copy; 2016 Sisterhood of Behemoth
            </div>
        </footer>

        <div th:fragment="breadcrumb">
            <ul class="pagination pagination-lg">
                <li><a href="/">Keskustelualueet</a></li>
                <li class="breadcrumb-item" th:classappend="${ketju} ? '' : 'active'"><a th:href="${'/alue/' + alue.id}" th:text="${alue.nimi}">Alue</a></li>
                <li th:if="${ketju}" class="active"><a th:text="${ketju.nimi}">T&auml;m&auml; ketju</a></li>
            </ul>
        </div>

        <div th:fragment="pagination-thread">
            <div th:if="${sivut} > 1">
                <ul class="pagination" th:each="i : ${#numbers.sequence(1, sivut/1)}">
                    <li class="pagination-item" th:classappend="${sivu == i} ? 'active' : ''"><a th:href="${'/ketju/' + ketju.id + '/page/' + i}" th:text="${ i }">sivu</a></li>
                </ul>
            </div>
        </div>
        
        <div th:fragment="pagination-area">
            <div th:if="${sivut} > 1">
                <ul class="pagination" th:each="i : ${#numbers.sequence(1, sivut/1)}">
                    <li class="pagination-item" th:classappend="${sivu == i} ? 'active' : ''"><a th:href="${'/alue/' + alue.id + '/page/' + i}" th:text="${ i }">sivu</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
