<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Layout Generic Title</title>
    </head>
    <body>
        <header th:fragment="site-header" class="site-header">
            <div class="container">
                <h1>Sisterhood of Behemothin keskustelupalsta</h1>
                <figure>
                    <img src="http://oi65.tinypic.com/nprui9.jpg" class="img-responsive site-banner" alt="Witches' Sabbath (Goya, 1798)"/>
                    <figcaption>Witches' Sabbath (The Great He-Goat) (Francisko Goya, 1821-1823), Wikimedia Commons</figcaption>
                </figure>
            </div>
        </header>

        <footer th:fragment="footer" class="site-footer">
            <div class="container">
                &copy; 2016 Sisterhood of Behemoth
            </div>
        </footer>

        <div th:fragment="breadcrumb">
            <ul class="breadcrumb">
                <li><a href="/">Keskustelualueet</a></li>
                <li class="breadcrumb-item" th:classappend="${ketju} ? '' : 'active'"><span th:unless="${ketju}" th:text="${alue.nimi}" th:remove="tag">Alue</span><a th:if="${ketju}" th:href="${'/alue/' + alue.id}" th:text="${alue.nimi}">Alue</a>
                </li>
                <li th:if="${ketju}" class="breadcrumb-item active" th:text="${ketju.nimi}">T&auml;m&auml; ketju</li>
            </ul>
        </div>

        <div th:fragment="pagination">
            <div th:if="${sivut}" class="text-center">
                <ul class="pagination">
                    <li th:each="sivu : ${sivut}" class="pagination-item" th:classappend="${sivu.current} ? 'active' : ''"><a th:href="${sivu.url}" th:text="${sivu.number}">sivu</a></li>
                </ul>
            </div>
        </div>
    </body>
</html>
