<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sisterhood of Behemothin keskustelupalsta</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
    </head>

    <body>
    <div class="container">
        <div class="page-header">
            <h1>Sisterhood of Behemothin keskustelupalsta<small> , oikean tiedon lähde</small></h1>
        </div>
        <h3><a href="/">Etusivu</a>-> Rituaalit</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Ketju</th>
                    <th>Viestejä</th>
                    <th>Viimeisin viesti</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="/ketju">Demonin manaamisen alkeet</a></td>
                    <td>23</td>
                    <td>Juuri äsken</td>
                </tr>
                <tr>
                    <td>Oikeaoppinen vuohen uhraus</td>
                    <td>125</td>
                    <td>Hetki sitten</td>
                </tr>
                <tr>
                    <td>Uhrauspaikan valinta</td>
                    <td>4</td>
                    <td>Eilen kello 14.53</td>
                </tr>
            </tbody>
        </table>
        <!--<button type="submit" class="btn btn-primary">Avaa uusi ketju</button>-->
    </div>
    </body>
</html>