<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/scripts :: head (title=${alue.nimi})">
        <title>Otsikko</title>
    </head>
    <body>
        <div class="page">

            <header th:replace="fragment/layout :: site-header"></header>

            <div class="content container">

                <header class="page-header">
                    <div th:include="fragment/layout :: breadcrumb" th:remove="tag"></div>
                </header>

                <section class="main-content">
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Ketju</th>
                                <th>Viestej&auml;</th>
                                <th>Viimeisin viesti</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="ketju: ${ketjut}">
                                <td><a th:href="${'/ketju/' + ketju.id}" th:text="${ketju.nimi}">alueen nimi + linkki</a></td>
                                <td>0</td>
                                <td>eilen tai joskus</td>
                            </tr>
                        </tbody>
                    </table>

                    <div th:include="fragment/form/add-thread :: form" th:remove="tag"></div>
                </section>
            </div>

            <footer th:replace="fragment/layout :: footer"></footer>

        </div>

        <div th:include="fragment/scripts :: footer-scripts" th:remove="tag"></div>
    </body>
</html>