<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Sisterhood of Behemothin keskustelupalsta</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Sisterhood of Behemothin keskustelupalsta<small> , oikean tiedon l&auml;hde</small></h1>
            </div>
            <h2>Keskustelualueet</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Alue</th>
                        <th>Viestej&auml; yhteens&auml;</th>
                        <th>Viimeisin viesti</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="alue: ${alueet}">
                        <td><a th:href="${'/alue/' + alue.id}" th:text="${alue.nimi}">alueen nimi + linkki</a></td>
                        <td>0</td>
                        <td>eilen</td>
                    </tr>
                </tbody>
            </table>
            <form action="/uusi/alue" method="post">
                <input type="text" name="alue_nimi" placeholder="Alueen nimi" />
                <button type="submit" class="btn btn-primary">Avaa uusi alue</button>
            </form>
        </div>
    </body>
</html>
