<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Sisterhood of Behemothin keskustelupalsta - Ketju</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />        
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
    <div class="container">
        <div class="page-header">
            <h1>Sisterhood of Behemothin keskustelupalsta<small> , oikean tiedon l&auml;hde</small></h1>
        </div>
        <!--<h3><a href="/">Etusivu</a>-> <a href="/alue">Rituaalit</a> -> Demonin manaamisen alkeet</h3>-->
        <ul class="pagination pagination-lg">
                <li><a href="/">Etusivu</a></li>
                <li><a href="/alue/1">Rituaalit</a></li>
                <li class="active"><a href="/ketju/1">T&auml;m&auml; ketju</a></li>
        </ul>
        <div class="panel panel-primary" th:each="viesti: ${viestit}">
            <div class="panel-heading" th:text="${viesti.nimimerkki}">nimimerkki</div>
            <div class="panel-body" th:text="${viesti.sisalto}">sisalto</div>
            <div class="panel-footer" th:text="${viesti.aika}" style="background-color: #99ccff">aika</div>
        </div >
        <h3>Kirjoita uusi viesti</h3>
        <form  method="post">
            <div class="form-group">
                <label for="name">Nimimerkki</label>
                <input type="textarea" class="form-control" id="name" name="nimimerkki" placeholder="Nimesi" />
            </div>
            <div class="form-group">
                <label for="message">Viesti</label>
                <textarea class="form-control" id="message" name="viesti" placeholder="Kirjoita viestisi t&auml;h&auml;n..."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">L&auml;het&auml;</button>
        </form>
    </div>
    </body>
</html>