<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragment/scripts :: head (title=${ketju.nimi})">
        <title>Otsikko</title>
    </head>
    <body>
        <div class="page">

            <header th:replace="fragment/layout :: site-header"></header>

            <div class="content container">

                <header class="page-header">
                    <div th:include="fragment/layout :: breadcrumb" th:remove="tag"></div>
                </header>

                <section class="main-content">

                    <div class="panel panel-danger" th:each="viesti: ${viestit}">
                        <div class="panel-heading" th:text="${viesti.nimimerkki}">nimimerkki</div>
                        <div class="panel-body" th:text="${viesti.sisalto}">sisalto</div>
                        <div class="panel-footer" th:text="${viesti.aika}" style="background-color: #990000">aika</div>
                    </div >

                    <div th:include="fragment/form/add-message :: form" th:remove="tag"></div>
                </section>
            </div>

            <footer th:replace="fragment/layout :: footer"></footer>

        </div>

        <div th:include="fragment/scripts :: footer-scripts" th:remove="tag"></div>
    </body>
</html>